/*
   New Perspectives on HTML5 and CSS3, 78th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Xie Zifan
   Date: 2024/9/17
   
   Filename: lake_styles.css

*/
